body {
  background-color: #FFF;
  text-align: center;
}

.container {
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.header {
  margin: auto;
  text-align: center;
}

figure {
  height: 300px;
  width: 400px;
}

.header-text {
  letter-spacing: 1.5px;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  width: 45%;
  position: relative;
  top: 185px;
}

.nav {
  width: 100%;
  position: fixed;
  text-align: center;
}

.nav-link {
  color: rgb(0, 123, 255);
  background-color: transparent;
  text-decoration: overline;
  text-shadow: 1px 1px rgb(0, 123, 255);
}

h1 {
  padding-top: 100px;
}

form {
  padding-top: 100px;
}

.form-control {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
}

.display-1 {
  padding-top: 100px;
}
