body {
  background-color: #FFF;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  /*padding: 18vh 1rem;*/
  text-align: center;
}

.container {
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.header {
  margin: auto;
  text-align: center;
}

figure {
  height: 300px;
  width: 400px;
}

.header-text {
  letter-spacing: 1.5px;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  width: 45%;
  position: relative;
  top: 185px;
}

.nav {
  width: 100%;
  position: fixed;
  text-align: center;
}

.nav-link {
  color: rgb(0, 123, 255);
  background-color: transparent;
  text-decoration: overline underline;
}

/*.navB li {
  letter-spacing: 1px;
  font-size: 18px;
  font-family: Roboto;
  padding: 20px 20px;
  display: inline-block;
  color: #FFF;
}*/

h1 {
  padding-top: 100px;
}

form {
  padding-top: 100px;
}

.form-control {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
}

.display-1 {
  padding-top: 100px;
}
