.container-fluid{:style => "margin-top: 25px;"}
  .row
    .card-deck
      .card
        .card-header Featured
        %img.card-img-top{:alt => "Card image cap", :src => "http://bit.ly/2z5qdra"}/
        .card-block
          %h4.card-title Portfolio Challenge
          %p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          %a.btn.btn-primary{:href => "https://github.com/NegativeKarma/portfolio/"} Go to repo
          %p.card-text
            %small.text-muted Last updated 3 mins ago
      .card
        %img.card-img-top{:alt => "Card image cap", :src => "http://bit.ly/2iYOgNT"}/
        .card-block
          %h4.card-title BMI Challenge
          %p.card-text Create a web application that calculates your BMI(body mass index) using both the metric and imperial method once you input your weight and height. The application has been created with a test driven development philosophy using Jasmine..
          %a.btn.btn-primary{:href => "https://github.com/NegativeKarma/bmi_challenge"} Go to repo
          %a.btn.btn-primary{:href => "https://negativekarma.github.io/bmi_challenge/"} Go to site
          %p.card-text
            %small.text-muted Last updated 3 mins ago
      .card
        %img.card-img-top{:alt => "Card image cap", :src => "http://bit.ly/2zFtH3j"}/
        .card-block
          %h4.card-title ATM Challenge
          %p.card-text Project with Ruby, week 1 at CraftAcademy. Create an ATM machine with basic features to make it able to interact to a person with an account.
          %a.btn.btn-primary{:href => "https://github.com/NegativeKarma/atm_challenge"} Go to repo
          %p.card-text
            %small.text-muted Last updated 3 mins ago
