.container-fluid{:style => "margin-top: 25px;"}
  .row
    .card-deck
      .card
        .card-header Featured
        %img.card-img-top{:alt => "Card image cap", :src => "https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg"}/
        .card-block
          %h4.card-title Card title
          %p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          %a.btn.btn-primary{:href => "https://github.com/NegativeKarma/portfolio/"} Go somewhere
          %p.card-text
            %small.text-muted Last updated 3 mins ago
      .card
        %img.card-img-top{:alt => "Card image cap", :src => "//placehold.it/720x350"}/
        .card-block
          %h4.card-title Card title
          %p.card-text This card has supporting text below as a natural lead-in to additional content.
          %p.card-text
            %small.text-muted Last updated 3 mins ago
      .card
        %img.card-img-top{:alt => "Card image cap", :src => "//placehold.it/720x350"}/
        .card-block
          %h4.card-title Card title
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
          %p.card-text
            %small.text-muted Last updated 3 mins ago
