%footer{:style => "margin-top: 125px;"}
  %h3 My Portfolio
  %p Built using the awesome Middleman framework
%nav.navbar.fixed-bottom.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} Fixed bottom
