%body
  %nav.navbar.sticky-top.navbar-light.bg-light
    %span.navbar-brand.mb-0.h1
    %a.navbar-brand{:href => "#"}
    %ul.nav.justify-content-center
      %li.nav-item
        %a.nav-link{:href => "index.html"} Home
      %li.nav-item
        %a.nav-link{:href => "about.html"} About
      %li.nav-item
        %a.nav-link{:href => "contact.html"} Contact
      %li.nav-item
        %a.nav-link{:href => "index.html#projects"} Projects
