%form
  .form-group
    %label{:for => "exampleInputEmail1"} Email address
    %input#exampleInputEmail1.form-control{"aria-describedby" => "emailHelp", :placeholder => "Enter email", :type => "email"}/
    %small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
  .form-group
    %label{:for => "exampleInputPassword1"} Password
    %input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password"}/
  .form-check
    %label.form-check-label
      %input.form-check-input{:type => "checkbox"}/
      Check me out
  %button.btn.btn-primary{:type => "submit"} Submit

%table.table.table-hover.table-dark{:style => "width:100%"}
  %tr
    %th BMI
    %th Weight Status
  %tr
    %td Below 18.5
    %td Underweight
  %tr
    %td Below 18.5 - 24.9
    %td Normal
  %tr
    %td Below 25 - 29.9
    %td Overweight
  %tr
    %td Over 30.0
    %td Obese
