%form{:action => "mailto:francesco.falchi@gmail.com", :enctype => "text/plain", :method => "post"}
  .form-group
    %label{:for => "exampleFormControlTextarea1"} Let's get in touch
    %textarea#exampleFormControlTextarea1.form-control{:placeholder => "Write here", :rows => "3"}
  %button.btn.btn-primary{:type => "submit"} Send
%img.img-fluid{:alt => "Responsive image", :src => "http://bit.ly/2juzG4G"}/
