%form{:action => "http://formspree.io/francesco.falchi@gmail.com", :method => "POST"}
  %label{:for => "exampleFormControlTextarea1"} Let's get in touch
  %input{:name => "email", :placeholder => "Your email", :type => "email"}/
  %textarea{:name => "message", :placeholder => "Your message"}
  %button.btn.btn-primary{:type => "submit", :style => "margin-top: 25px;"} Send
%img.img-fluid{:alt => "Responsive image", :src => "http://bit.ly/2juzG4G"}/
%h4
  Last push:
  = get_last_push_date('negativekarma', 'portfolio')
