%h1
  I am Francesco Falchi
  %small.text-muted and I'm here to rock some code
%img.img-fluid{:alt => "Responsive image", :src => "https://image.ibb.co/iH0coR/notright.jpg"}/
%h3{:style => "margin-top: 25px;"}
  %a{:id => 'projects', :href => "#projects"} Projects
= partial 'partials/cards'
%figure.figure{:style => "margin-top: 25px;"}
  %img.figure-img.img-fluid.rounded{:src => "http://bit.ly/2zIGxh0"}/
  %figcaption.figure-caption.text-center Coding nights light.
