%h1
  Francesco Falchi
  %small.text-muted and I'm here to rock some code
%img.img-fluid{:alt => "Responsive image", :src => "https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg"}/
%figure.figure
  %img.figure-img.img-fluid.rounded{:src => "https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg"}/
  %figcaption.figure-caption.text-left A caption for the above image.
.card.float-right{:style => "width: 20rem;"}
  .card-header Featured
  %img.card-img-top{:alt => "Card image cap", :src => "https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg"}/
  .card-body
    %h4.card-title Go figure
    %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    %a.btn.btn-primary{:href => "https://github.com/NegativeKarma/portfolio/"} Go somewhere
.card.float-right{:style => "width: 50rem;"}
  .card-header Featured
  %img.card-img-top{:alt => "Card image cap", :src => "https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg"}/
  .card-body
    %h4.card-title Go right?
    %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    %a.btn.btn-primary{:href => "https://github.com/NegativeKarma/portfolio/"} Go somewhere
