<h1>Francesco Falchi
    <small class="text-muted">and I'm here to rock some code</small></h1>

  <img src="https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg" class="img-fluid" alt="Responsive image">
  <figure class="figure">
    <img src="https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg" class="figure-img img-fluid rounded" >
    <figcaption class="figure-caption text-left">A caption for the above image.</figcaption>
  </figure>
  <div class="card float-right" style="width: 20rem;">
    <div class="card-header">
      Featured
    </div>
    <img class="card-img-top" src="https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Go figure</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://github.com/NegativeKarma/portfolio/" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card float-right" style="width: 50rem;">
    <div class="card-header">
      Featured
    </div>
    <img class="card-img-top" src="https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Go right?</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://github.com/NegativeKarma/portfolio/" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  
